#issuetype-single-select, div#project-single-select {
  max-width: none;
  width: 600px;
}
#issuetype-single-select > input, div#project-single-select > input {
  max-width: none;
}
#content #project_container .aui-ss-field#project-field {
  max-width: none !important;
  width: 600px;
  background: red;
}

.overrun td,
.overrun td a {
  color: red !important;
}

.todo-days-1 td,
.todo-days-1 td a {
  color: orange !important;
}

.todo-days-2 td,
.todo-days-2 td a {
  color: mediumaquamarine !important;
}

#quick-search-field {
  display: inline-block;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  max-width: 50%;
  background: #eee;
  padding: 2px;
}
#quick-search-field.filtering {
  background: lightgreen;
}
#quick-search-clear {
  display: inline-block;
  position: fixed;
  width: 300px;
  max-width: 50%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1em;
  background: darkred;
  margin-left: 1em;
  z-index: 99998;
  padding: 3px;
}
#quick-search-clear:hover {
  cursor: pointer;
}

.gadget tr.tr-off {
  display: none !important;
}